* {
    box-sizing: border-box;
}

body {
    background: deepskyblue;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-left: 1rem;
    color: red;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.result {
    display: flex;
    flex-wrap: wrap;
}

.api2 {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
}